<!DOCTYPE html>
<html lang="th">
<head>
    
    <title>หน้าล็อกอิน</title>
    
</head>

<body>
    <BODY bgcolor="Darkblue"></BODY>
    <div class = "" >
        <image id = "imgg" src = "S__2932742.jpg"width = "105%", height = "20%"></image>
    </div>
     <center> <table bordercolor = pink width=50%  cellpadding="4" cellspacing="1"  style="border:2px solid orange;"><tr></br></br></br></br></br></br>
        
    <td bgcolor ="Lightblue"style="border-style:solid;border-width:4px;border-color:#dcdc77 ;">
        <center><font  color = "red"> Login</font></center></br></br>
        <center> Student ID: <input type ="text" id = "fname" size = 15 maxlength = 10 name = "fname"></br></br></br></br></center>
        
        <center> Password:   <input type ="password" id = "flastname" size = 15 maxlength = 13 name = "flastname"></br></br></br></br></center>

        <center><button onclick="document.getElementById('imgg').src='S__2932742.jpg'" type="button" >LOG IN</button></center></br></br></td></tr></table>


        <center><table  width=50%   cellpadding="4" cellspacing="1" style="border:1px solid orange;"></center>
           
            <td bgcolor="orange"style="border-style:solid;border-width:4px;border-color:orange ;">
                <center><font color = "Darkblue">  Forget Password ? </font></center> 
               <center> <a href="Web 2.html"><font color = "Blue" >Click here!</font> </a></center></td></table>
</center>
    
</body>       
                
</html>