<!DOCTYPE html>
<html>
<title>TIME UP</title>
<head>
<style>
body {
  background-image: url('image/tu-park1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover; 
}
.Header{
    background-color: #ffb366  ;
    height:120px;
    position:fixed;
    left:0px;
    top:0px;
    width:100%;   
}
.logo-pos{
    position: absolute;
    left: 30px;
    top: 10px;
   
}
.logout-pos{
  padding-top: 40px;
  padding-left: 89%;
}
.logout{
  width:  100px;
  height: 45px;
  background-color: #429885;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
.logout:active{
  background-color:  #287061;
  transform: translateY(3px);
}

.menubar{
  background-color:#63666A  ;
  width:140px ;
  height:100% ;
  left: 0px;
  top: 10px;
  padding-top: 110px;
  position: fixed;
}

.vertical-menu {
  width: 140px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}
.wel{
  padding-top: 120px;
  padding-left: 10%;
}
.stuImg{
  padding-right: 10%;
  padding-top: 10%;
  width:12%;   
  height:30%;
  right: 0px;
  top: 0px;
  position: fixed;
}
</style>
</head>
<body >
  <div class="menubar">      
    <div class="vertical-menu "> 
    <a href = '/lateRegis'  >จดทะเบียนล่าช้า </a>  
    <a href = '' >ถอนรายวิชา(W)</a> 
    <a href = '' >ลาออก  </a> 
    <a href = ''  >อื่นๆ </a>
    </div>
      
     
    <center>
      <div style="padding-top: 20px">
        
        <span >
          <a href= "https://login1-2.herokuapp.com/">
            <button class = 'logout' >Logout</button>
          </a>
        </span>
      </div>
    </center>
  </div>
  <div class="container" > 
    <div class = "Header" >    
      <div class = "logo-pos" >
        <img src = 'image/tu-logo.PNG' width= "70%" height="70%" > 
      </div>  
         
    </div>

    
     <div class = 'wel'>
       
      <h2 ><%=  username %> : <%=  nameTH %></h2>
  
       <center>
          <div style="padding-top: 7%" >
            <img src= 'image/clock.png' width= "20%" height="20%" >
            <h3 >หมดเวลาเเล้วเธอคงต้องไป </h3>
          </div>

       </center>
       
     </div>

   
 

    </div>

</body>
</html>