




<!DOCTYPE html>
<html>
<title>List</title>
<head>
   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
body {
  background-image: url('image/tu-park1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover; 
}
.Header{
    background-color: #ffb366  ;
    height:120px;
    position:fixed;
    left:0px;
    top:0px;
    width:100%;   
}
.logo-pos{
    position: absolute;
    left: 30px;
    top: 10px;
   
}

.menubar{
  background-color:#63666A  ;
  width:140px ;
  height:100% ;
  left: 0px;
  top: 10px;
  padding-top: 110px;
  position: fixed;
}

.vertical-menu {
  width: 140px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.logout-pos{
  padding-top: 40px;
  padding-left: 89%;
}
.logout{
  width:  100px;
  height: 45px;
  background-color: #429885;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
.logout:active{
  background-color:  #287061;
  transform: translateY(3px);
}

.Img{
  padding-right:150px;
  padding-top: 150px;
  width:12%;   
  height:30%;
  right: 0px;
  top: 0px;
  position: fixed;
  
}
.wel{
  top: 120px;
  left: 180px;
  position: fixed;
}
.wel a {
  width: 600px;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.wel a:hover {
  background-color: rgb(145, 177, 226);
}

</style>
<body>
  <div class="menubar">   
    
      

      <div class="vertical-menu "> 
        <center> 
          <a href = '/List'  style="font-weight: bold;" >เเสดงรายชื่อนักศึกษา</a>  
      


        </center> 
      </div>  
      <div style="padding-top: 20px">
        <center>  
          <span >
              <a href= "https://www.youtube.com/" >
                <button class = 'logout'  style="font-weight: bold;" >   Logout</button>
              </a>  
          </span>
        </center>
      </div>
  
     
      


    <div class = 'wel'>
      <h2  style="font-weight: bold;">รายชื่อนักศึกษาที่จดทะเบียนล้าช้า </h2>
        
        <a href = '/stu1' style="font-weight: bold;font-size: 20px;" >6209610077 อภิชญา ตันตินีรนาท </a> 
        <a href = '/stu2' style="font-weight: bold;font-size: 20px;" >6209610242 ธีรดนย์ เห็นใจชน </a> 
        <a href = '/stu3' style="font-weight: bold;font-size: 20px;" >6209610384 ธิชาพร กระเเจะจันทร์</a> 




      

      

    </div>
  </div>
  <div class="container" > 
    <div class = "Header" >    
      <div class = "logo-pos" >
        <img src = 'image/tu-logo.PNG' width= "70%" height="70%" > 
      </div>  
    </div>
  </div>

 
</body>
</html>                                    
